<div class="row">
  <div class="col-12">
    <h1 class="display-4"><%= @note.title %></h1>
    <p class="lead"><% @note.describe %></p>
    <hr class="my-4">
  </div>

  <div class="list-group col-12">
    <%= render partial: "fragment", collection: @note.fragments %>
  </div>
</div>