<div class="shadow-sm p-3 mb-5 bg-white rounded text-center row">
  <div class="col-4"></div>
  <div class="col-4">
    <div id="ICP">
      <strong>渝ICP备16010823号-1 <span class="badge badge-dark"><a href="http://www.miit.gov.cn/" title="工信部备案查询">工信部</a></span></strong>
    </div>
    <div id="copyright">
        <strong>Copyright © 2018 BadTudou. All rights reserved.</strong>
    </div>
  </div>  
  <div class="col-4">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-5">
          <a href="">
            <%= fa_icon "github", class:'fa-3x' %>
          </a>
          <a href="">
            <%= fa_icon "weibo", class:'fa-3x' %>
          </a>
          <a href="">
            <%= fa_icon "weixin", class:'fa-3x' %>
          </a>
        </div>
        <div class="col-3">
          <!-- <a href=""><h3 class="display-5 text-center"><u>Join us!</u></h3></a> -->
        </div>
  </div>

</div>