<%= render 'shared/nav' %>
<div class="tab-content" id="nav-tabContent" style="margin-top: 20px;">

  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <%= render "users/personal" if user_signed_in? %>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">

        <%= render "users/application" if user_signed_in? %>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
  
</div>

