<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <%= render "shared/login" %>
  </div>
  <div class="col-2"></div>
</div>

<script type="text/javascript">
  $('#nav-app-person').tab('show')
</script>