<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
     <%= render partial:"roles/role", locals: {role: @role, permissions: @permissions } %>
  </div>
  <div class="col-3"></div>
</div>